.welcome-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

/* CSS */
.button-19 {
  margin-top: 5rem;
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}

.hidden {
  display: none;
}
.hidden {
  display: none !important;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.pageContent {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  color: black;
}

.spa-page {
  display: none;
}

.spa-page.active {
  display: block;
}

.close-btn {
  position: relative;
  left: 75%;
  top: -35%;
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
  color: black;
}

.pages {
  padding: 2rem;
}

.pages div p {
  width: 70ch;
}

.content-container {
  position: relative;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-btn,
.delete-btn {
  padding: 5px 10px;
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn {
  background-color: #dc3545;
}

.edit-btn:hover,
.delete-btn:hover {
  opacity: 0.8;
}

.message {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: #28a745;
  border-radius: 5px;
  z-index: 1001;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

footer {
  margin: 0;
}
